<h2>{{type}}</h2>

<form id="form-auth" novalidate>
    <label>
        Courriel:
        <input type="email" id="email-auth">
    </label>
    <label>
        Mot de passe:
        <input type="password" id="password-auth">
    </label>

    <input type="submit" value="{{type}}">
</form>

<div id="erreur-auth"></div>